/* ====== TODO ====== */
/* 1. Media query for cards to overlap at the following:
      large width large height
      large width small height
      small width small height
      small width large height

/* ====== Typography ====== */
h1 {
    color: goldenrod;
    text-shadow: 0 0 5px black;
    font-size: 4.15rem;
    font-family: 'IM Fell Great Primer', serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.play-btn {
    font-size: 1.2em;
    font-family: 'IM Fell Great Primer', serif;
}

.chips-label-container {
    color: white;
}

/* ====== Global Content ====== */
* {
    box-sizing: border-box;
}

body {
    background: darkgreen;
    margin: 0;
}

button {
    cursor: pointer;
}

/* ====== Front Page ====== */
.front-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    /* height: 100%; */
    min-height: 110px;
    width: 100%;
}

.ace {
    background: url('images/cards/AC.png');
}

.joker {
    background: url('images/cards/JH.png');
}

.front-page-card {
    height: 325px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
}

.card-cross-right {
    margin-right: -55px;
    margin-bottom: 55px;
}

.card-cross-left {
    margin-left: -55px;
}

.play-btn {
    width: 200px;
    height: 30px;
    background: #D02000;
    color: white;
}

.play-btn:hover,
.play-btn:focus {
    transform: scale(1.05);
    box-shadow: 5px 15px 30px -11px #192824;
}

/* ====== Play modal ====== */
.play-modal {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 1100px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.card-amt {
    margin-bottom: auto;
    align-self: flex-end;
}

.card {
    height: 100%;
    min-height: 100px;
    max-height: 120px;
    width: 30%;
    max-width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;

    -webkit-animation: slide 1s forwards;
    -moz-animation: slide 1s forwards;
    animation: slide 1s forwards;
}

.remove-card {
    -webkit-animation: slide-out 1s forwards;
    -moz-animation: slide-out 1s forwards;
    animation: slide-out 1s forwards;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-turn .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front {
    background-image: url("images/cards/card-back.png");

    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

.flip-card-back {
    transform: rotateY(180deg);

    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

/* Slide cards in */
@-webkit-keyframes slide {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slide {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }

/* Slide cards out (to remove) */
@-webkit-keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-900px);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-900px);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-900px);
    }
  }

.test {
    width: 100px;
    height: 100px;
    background: pink;
}

.bet-container {
    width: 100%;
    height: 10%;
    /* min-height: 70px; */
    background: darkgreen;
}

.deal-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    gap: 1em;
    width: 100%;
}

.player-turn-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 25px;
    /* min-height: 20px; */
    color: white;
    border: none;
    border-bottom: 0.35px solid black;
    border-right: 0.35px solid black;
}

.deal-btn {
    background: blue;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
    box-shadow: 5px 5px 30px -3px goldenrod;
}

.hit-stand {
    display: flex;
    flex-direction: column;
    gap: 0.75em
}

.hit-btn {
    background: red;
}

.stand-btn {
    background: blue;
}

#player-amt, #player-bet, .player-visible-score, .player-msg, .dealer-msg {
    width: auto;
    max-width: 200px;
    /* height: 15%; */
    /* min-height: 40px; */
    margin: 0;
    color: white;
}

/* Bank */
.bank-modal, .bet-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.chips-label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.select {
    cursor: pointer;
}

.one-chips {
    background: url('images/chips/black-chip.png');
}

.twenty-five-chips {
    background: url('images/chips/blue-chip.png');
}

.fifty-chips {
    background: url('images/chips/green-chip.png');
}

.hundred-chips {
    background: url('images/chips/red-chip.png');
}

.five-hundred-chips {
    background: url('images/chips/yellow-chip.png');
}

.chips {
    height: 40px;
    width: 40px;

    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
    margin-bottom: -40px;
}

.hidden {
    display: none;
}