/* ====== TODO ====== */
/* 1. Media query for cards to overlap at the following:
      large width large height
      large width small height
      small width small height
      small width large height

/* ====== Typography ====== */
h1 {
    color: goldenrod;
    text-shadow: 0 0 5px black;
    font-size: 4.15rem;
    font-family: 'IM Fell Great Primer', serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.play-btn {
    font-size: 1.2em;
    font-family: 'IM Fell Great Primer', serif;
}


/* ====== Global Content ====== */
* {
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background: darkgreen;

    margin: 0;
    min-width: 100%;
}

button {
    cursor: pointer;
}

/* ====== Front Page ====== */
.front-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
    min-height: 110px;
    width: 100%;
}

.ace {
    background: url('images/cards/AC.png');
}

.joker {
    background: url('images/cards/JH.png');
}

.front-page-card {
    height: 325px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
}

.card-cross-right {
    margin-right: -55px;
    margin-bottom: 55px;
}

.card-cross-left {
    margin-left: -55px;
}

.play-btn {
    width: 200px;
    height: 30px;
    background: #D02000;
    color: white;
}

.play-btn:hover,
.play-btn:focus {
    transform: scale(1.05);
    box-shadow: 5px 15px 30px -11px #192824;
}

/* ====== Play modal ====== */
.play-modal {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 1100px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.card-amt {
    margin-bottom: auto;
    align-self: flex-end;
}

#player-cards, #dealer-cards {
    /* Temporary */
    display: none;
    
    background: url('images/cards/JH.png');
    height: 100%;
    min-height: 100px;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

.test {
    width: 100px;
    height: 100px;
    background: pink;
}

.bet-container {
    width: 100%;
    height: 60%;
    min-height: 100px;
    background: red;
}

.deal-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    gap: 1em;
    width: 100%;
}

.player-turn-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-btn {
    width: 100px;
    height: 25px;
    min-height: 20px;
    background: blue;
    color: white;
    border: none;
    border-bottom: 0.35px solid black;
    border-right: 0.35px solid black;
}

.deal-btn:hover,
.deal-btn:focus {
    transform: scale(1.05);
    box-shadow: 5px 5px 30px -3px goldenrod;
}

#player-amt {
    width: auto;
    max-width: 200px;
    height: 15%;
    min-height: 40px;
    margin: 0;
    color: white;
}

/* Bank */
.bank-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.one-chips {
    background: url('images/chips/black-chip.png');
}

.twenty-five-chips {
    background: url('images/chips/blue-chip.png');
}

.fifty-chips {
    background: url('images/chips/green-chip.png');
}

.hundred-chips {
    background: url('images/chips/red-chip.png');
}

.five-hundred-chips {
    background: url('images/chips/yellow-chip.png');
}

.chips {
    height: 40px;
    width: 40px;

    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
    margin-bottom: -40px;
}

.one {
    margin-left: -3px;
    margin-top: -3px;
}

.two {
    margin-left: -4px;
    margin-top: -6px;
    transform: rotate(15deg);
}

.three {
    margin-left: -5px;
    margin-top: -7px;
    transform: rotate(45deg);
}

.four {
    margin-left: -6px;
    margin-top: -8px;
    transform: rotate(90deg);
}

.five {
    margin-left: -7px;
    margin-top: -9px;
    transform: rotate(180deg);
}

.hidden {
    display: none;
}